# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties
*.keystore
*.jks
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
*.log
*.tmp
*.lock
.DS_Store
.idea/
.vscode/

# Generated
GeneratedPluginRegistrant.java